<style>
    @media screen and (max-width: 885px) {
      #pc {
        display: none;
        visibility: hidden;
      }
    }
  
  @media screen and (min-width: 886px) {
    #mobile {
      display: none;
      visibility: hidden;
    }
  }
  </style>
  
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <div id="pc">
    <button mat-button routerLink="/laudos">Laudos Médicos</button>
    <button mat-button routerLink="/analise">Análise de Exames</button>
    <button mat-button routerLink="/orientacao">Orientação Médica</button>
    <button mat-button routerLink="/teleconsulta">Telaconsulta</button>
    <button mat-button routerLink="/especialista">Especialista</button>
    <button mat-button routerLink="/login">Login/Cadastro</button>
  </div>
  
    <button id="mobile" mat-button [matMenuTriggerFor]="menu">
      <mat-icon aria-hidden="false">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/laudos">Laudos Médicos</button>
    <button mat-menu-item routerLink="/analise">Análise de Exames</button>
    <button mat-menu-item routerLink="/orientacao">Orientação Médica</button>
    <button mat-menu-item routerLink="/teleconsulta">Telaconsulta</button>
    <button mat-menu-item routerLink="/especialista">Especialista</button>
    <button mat-menu-item routerLink="/login">Login/Cadastro</button>
  </mat-menu>
  </div>
  
   
  <img
      width="100%"
      alt="Page Home"
      src="../assets/home.jpg"
    />
  
  <div class="content" role="main">
  
    <div class="card-container">
      <div class="card" target="_blank" rel="noopener" routerLink="/teleconsulta">
        <mat-card class="example-card" style="background-color:rgba(87, 84, 84, 0.767)">
          <img mat-card-image src="../assets/teleconsulta.jpg" alt="Tele Consulta">
          <mat-card-actions>
            <button mat-button>Teleconsulta</button>
          </mat-card-actions>
        </mat-card>
      </div>
  
      <div class="card" target="_blank" rel="noopener" routerLink="/analise">
        <mat-card class="example-card" style="background-color:rgba(87, 84, 84, 0.767)">
          <img mat-card-image src="../assets/analiseImg.jpg" alt="Tele Consulta">
          <mat-card-actions>
            <button mat-button>Análise de Exames</button>
          </mat-card-actions>
        </mat-card>
      </div>
  
      <div class="card" target="_blank" rel="noopener" routerLink="/orientacao">
        <mat-card class="example-card" style="background-color:rgba(87, 84, 84, 0.767)">
          <img mat-card-image src="../assets/orientacao.jpg" alt="Tele Consulta">
          <mat-card-actions>
            <button mat-button>Orientação Médica</button>
          </mat-card-actions>
        </mat-card>
      </div>
  
    </div>