<!DOCTYPE html>
<html>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 
  <head>
    <style>
      body 
      {
        background-color: #fefdfe;
        font-family: 'Raleway', sans-serif;
        text-align: center
      }
    </style>
  </head>
  <body>
<img src="https://i.imgur.com/oC8DXyY.png" width="100%" alt="teleconsulta">
<h1> O que de teleorientação?</h1>
    <p> A Organização Mundial da Saúde (OMS) referiu a teleorientação como "cura à distância". O software de teleorientação é usado para fornecer serviços clínicos ao paciente a partir de qualquer local remoto.</p>
<p>  A nossa plataforma permite que o médico realize uma Orientação por Vídeo Conferência, ou seja, uma sessão de vídeo on-line com seu paciente. Não é preciso estar no mesmo local que o médico. Você pode receber orientação médica entrando em uma sala virtual segura e online.  </p>
    <p> Este tipo de atendimento é útil para pacientes que precisam fazer um acompanhamento rápido e também é conveniente em situações em que eles talvez não precisem ou não possam se encontrar pessoalmente com o médico.</p>
  </body>
</html>
