<mat-card>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Envio de Exames para Análise">
                <mat-card>
                    <mat-card-title>Preencha o formulario com todas as informações</mat-card-title>
                <mat-card-content>
                  <form>
                    <p>
                      <mat-form-field>
                        <input type="text" matInput placeholder="Nome do Exame">
                      </mat-form-field>
                    </p>
                    <p>
                        <input type="file">
                    </p>
                    <p>
                      <mat-form-field>
                        <input type="text" matInput placeholder="Observação">
                      </mat-form-field>
                    </p>
                    <div class="button">
                      <button mat-button>Enviar</button>
                    </div>
                  </form>
                  </mat-card-content>
                  </mat-card> 
            </mat-tab>
            <mat-tab label="Laudo Médico">
                <mat-list role="list">
                    <mat-list-item role="listitem">Laudo 1</mat-list-item>
                    <mat-list-item role="listitem">Laudo 2</mat-list-item>
                    <mat-list-item role="listitem">Laudo 3</mat-list-item>
                  </mat-list>
            </mat-tab>
            <mat-tab label="Teleconsulta">

            </mat-tab>
          </mat-tab-group>
    </mat-card-content>
</mat-card>